<div class="row">
  <ul>
    <div>
      <% @courses.each do |course| %>
        <div class="course">
          <a href=<%= course_path(course.id)%>>
            <div class="course-img">
              <%= image_tag(course.image_url, size: "170x170") %>
            </div>
            <div class="course-title">
              <%= course.title %>
            </div>
            <div>
              <%= course.description %>
            </div>
            <div>
              <%= course.source.name %>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </ul>
</div>
