<ul>
  <div>
    <% @courses.each do |course| %>
      <div>
        <%= image_tag(course.image_url, size: "100x100") %>
      </div>
      <div>
        <%= link_to course.title, course_path(course.id) %>
      </div>
      <div>
        <%= course.description %>
      </div>
      <div>
        <%= course.url %>
      </div>
      <div>
        <%= course.source.name %>
      </div>
    <% end %>
  </div>
</ul>
