<div class="row">
  <ul>
    <div>
      <% @courses.each do |course| %>
        <div class="course">
          <a href=<%= course_path(course.id)%>>
            <div class="course-img-container">
              <div class="course-img">
                <%= image_tag(course.image_url) %>
              </div>
            </div>
            <div class="course-info">
              <div class="course-title">
                <%= course.title %>
              </div>
              <div>
                <%= course.description %>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </ul>
</div>

<div class="paginate">
  <%= paginate @courses %>
</div>
