<div class="row">
  <%= form_for @course do |f| %>
    <div class="show-form">
      <div class="panel">
        <div>
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: "Enter course title here (required)" %>
        </div>

        <div>
          <%= f.label :description %>
          <%= f.text_area :description, placeholder: "Enter course description here" %>
        </div>

        <div>
          <%= f.label :image_url, "Image URL" %>
          <%= f.url_field :image_url, placeholder: "Enter image URL here (e.g., http://www.mathworks.com/help/releases/R2014b/examples/matlab/ThreeDPlotsGSExample_01.png)" %>
        </div>

        <div>
          <%= f.label :url, "URL" %>
          <%= f.url_field :url, placeholder: "Enter the course URL here (required, must contain 'http://' or 'https://' e.g. http://www.mathworks.com/examples/matlab/1097-3-d-plots)" %>
        </div>

        <div>
          <%= f.label :source, "Source" %>
          <%= f.collection_select(:source_id, Source.all, :id, :name) %>
        </div>

        <div>
          <%= f.submit "Add Course" %>
        </div>
      </div>
    </div>

  <% end %>
</div>
