
<div>
  Submit a new Course
</div>

<%= form_for @course do |f| %>
  <div>
    <div>
      <%= f.label :title, "Title *" %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div>
      <%= f.label :image_url %>
      <%= f.text_field :image_url %>
    </div>

    <div>
      <%= f.label :url, "URL *" %>
      <%= f.text_field :url %>
    </div>

    <div>
      <%= f.label :source, "Source *" %>
      <%= f.collection_select(:source_id, Source.all, :id, :name) %>
    </div>

    <div>
      <%= f.submit "Add Course" %>
    </div>
  </div>

  <div>
    * required
  </div>

<% end %>


